@import "variables";

.show-data {
  display: flex;
  flex-direction: column;
  background-color: darken(lightblue, 25%);
  margin: 10px;
  font-family: $basic-ff;

  &__budget-value {
    margin: 20px auto;
    font-size: $main-fz;
    @media (min-width: 800px) {
      margin: 50px auto;
      font-size: $main-fz * 1.4;
    }
  }
  &__budget-up {
    margin: 20px auto;
    font-size: $main-fz;
    @media (min-width: 800px) {
      margin: 70px auto;
      font-size: $main-fz * 1.4;
    }
  }

  &__budget-down {
    margin: 20px auto;
    font-size: $main-fz;

    @media (min-width: 800px) {
      margin: 50px auto;
      font-size: $main-fz * 1.4;
    }
  }
  &__title {
    font-size: $main-fz * 1.2;
  }
  &__list {
    margin: 20px;
  }
  .item {
    width: 300px;
    margin: 10px;
    padding: 2px;
    list-style: none;
    text-align: left;
    border: 1px solid;
    font-size: $main-fz/1.3;
  }
}
